/* BASE STYLE */

div.nice-forms
{
    width: 400px;
    padding: 0px;
    margin: 10px auto;
}

/* GLOBALS */

div.nice-forms h1,
div.nice-forms h2,
div.nice-forms h3,
div.nice-forms h4
{
	margin-bottom: 30px;
    text-align: center;
}

div.nice-forms p
{
}

/* INPUTS AND LABELS */

div.nice-forms input,
div.nice-forms select
{
    display: inline-block;
	width: 220px;
	height: 30px;
	border: 1px solid #CCC;
}

div.nice-forms input.openid-input {
    background: url("/Content/Images/OpenID.png") no-repeat 0 50%;
    width: 202px !important;
    padding-left: 18px;
}

div.nice-forms input[type='checkbox']
{
    width: auto !important;
    margin-left: 155px;
    margin-right: 8px;
    height: auto;
}

.admin .nice-forms input[type='checkbox'] 
{
	margin-left: 0 !important;
}

div.nice-forms input[type='submit']
{
    width: auto !important;
    padding: 2px 5px;
    margin: 12px auto;
    display: block;
}

div.nice-forms label
{
    display: inline-block;
    width: 150px;
}

div.nice-forms label.right
{
	width: 220px;
    margin-left: 155px;
}

div.nice-forms input[type='checkbox'] + label
{
    width: auto !important;
}

div.nice-forms textarea
{
    width: 95%;
    margin: 10px auto 0 auto;
    height: 100px;
    display: block;
}

div.nice-forms textarea.small      { height: 50px;   }
div.nice-forms textarea.large      { height: 200px;  }
div.nice-forms textarea.huge       { height: 500px;  }
div.nice-forms textarea.enormous   { height: 800px;  }
div.nice-forms textarea.ridiculous { height: 1200px; }

/* MODIFIER: FULL WIDTH */

div.nice-full
{
    width: 98%;
    margin: 0 auto !important;
}

/* MODIFIER: 960px WIDTH */

div.nice-960
{
    width: 960px;
    margin: 0 auto !important;
}

div.nice-full input,
div.nice-full select,
div.nice-960 input,
div.nice-960 select
{
	width: 40%;
}

div.nice-full input[type='checkbox'],
div.nice-960 input[type='checkbox']
{
    margin-left: 59.5%;
    padding-left: 5px;
}

div.nice-full label,
div.nice-960 label
{
    width: 59%;
}

/* MODIFIER: CONTAINED */

div.nice-contained
{
    border: 1px solid #bbb;
}


/* MODIFIER: 480px WIDTH */

div.nice-480
{
    width: 460px;
    margin: 0 auto;
}

div.nice-480 input,
div.nice-480 select
{
	width: 280px;
}

/* MODIFIER: CENTERED */

div.nice-centered
{
    margin: 10px auto;
}

/* MODIFIER: NO CENTERED HEADERS */

div.nice-nocenter h1,
div.nice-nocenter h2,
div.nice-nocenter h3,
div.nice-nocenter h4
{
    text-align: left;
}