html {
	width: 1024px;
	margin: 0 auto;
}

body {
	width: 1024px;
	overflow-x: hidden;
}

.article-header {
	width: 1024px;
	background-size: 1024px auto;
}

#main-menu {
	width: 1024px;
}

.post-container {
	width: 1024px !important;
	border: none !important;
}