/*GLOBALS*/
* {
	margin: 0;
	padding: 0;
}

html {
	min-width: 990px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font-weight: 400;
	line-height: 1.6em;
	font-size: .9em;
	font-family: "HelveticaNeue", Arial, sans-serif;
	color: #333333;
}

body {
	margin: 0 auto;
	height: 100%;
}

a {
	text-decoration: none;
}

h1 > a {
	font-weight: 900;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	margin: 0 0 20px 0;
	padding: 0;
	font-size: 5em;
	font-weight: 900 !important;
	line-height: 1.2em;
	letter-spacing: -2px;
}

h2 {
	color: #222222;
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
	line-height: 1.6em;
	font-weight: normal;
}

h3 {
	font-size: 1em;
	font-weight: 400;
	font-family: 'Roboto Slab', serif;
}

h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
}

a:hover {
	text-decoration: underline;
}

p {
	margin: 0 0 30px 0;
	vertical-align: top;
	font-family: 'Roboto Slab', serif;
	line-height: 2em;
	font-size: 1.2em;
}

b, strong {
	font-weight: bold;
}

i, em {
	font-style: italic;
}

.search {
	text-align: center;
}

.search p {
	display: inline-block;
}

.search img {
	width: 25px;
	margin: 7px 15px 0 0;
}

.search input {
	display: inline-block;
	font-size: 1.0em;
	width: 150px;
	font-family: 'Roboto Slab', serif;
	padding: 5px;
	margin: 3px 0 0 0;
	border: 1px solid #dedede;
}

/*BBCODE*/
.bb-subheading {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.4em;
}

.bb-blockquote {
	font-style: italic;
	padding: 10px;
	background-color: #dedede;
}

/*MAIN MENU*/
.main-menu-container {
	width: 100%;
	height: 80px;
	position: absolute;
	top: 0;
	z-index: 100;
}

.main-menu {
	margin: 0 auto;
	height: 80px;
	line-height: 60px;
	font-family: 'Montserrat', sans-serif;
}

.main-menu-nav {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	height: 80px;
	white-space: nowrap;
	text-align: center;
}

.main-menu-nav li ul {
	height: 0px;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	background: rgba(0,0,0,.7);
	list-style-type: none;
	white-space: nowrap;
	padding: 0;
	line-height: 40px;
	opacity: 0;
	transition: height .3s ease, opacity .5s ease;
}

.main-menu-nav li ul li {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding: 0 20px 0 20px;
}

.main-menu-nav li ul li a {
	display: inline;
	height: 40px;
	color: #fff;
}

.main-menu-logo {
	line-height: 60px;
	margin: 0 auto;
}

.main-menu-logo a {
	display: block;
	width: 360px;
	height: 80px;
	margin: 0 auto;
}

.main-menu-logo a:hover {
	text-decoration: none; 
}

.menu-nav-x {
	height: 60px;
	margin: 10px 0 0 0;
}

.menu-nav-invert {
	width: 0;
	height: 60px;
	transition: width 0.2s ease, opacity 0.4s ease;
	opacity: 0;
}

.main-menu-logo:hover .menu-nav-invert {
	opacity: 1;
	width: 191px;
}

.main-menu-logo:hover > ul {
	height: 40px;
	opacity: 1;
}

.site-tools {
	list-style-type: none;
	color: #fff;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	height: 60px;
}

.site-tools li {
	height: 25px;
	width: 25px;
	display: inline-block;
	margin: 0 20px 0 20px;
}

.site-tools img {
	width: 25px;
}

/*POST HEADER*/
.article-header-container {
	height: 100%;
	max-height: 800px;
	width: 100%;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: table;
	overflow-x: hidden;
}

.topic-info {
	padding: 10% 0 0 0; 
	white-space: nowrap;
	color: #fff;
	text-align: center;
	margin: 0 auto;
	display: table-cell;
	vertical-align: middle;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0.5) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(25%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0.5) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0.5) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0.5) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 );
}

.topic-info a {
	color: #ffffff !important;
}

.topic-info h2 {
	color: #fff;
	margin-top: 20px;
}

.topic-info h3 {
	font-style: italic;
	margin-top: 40px;
}

.topic-info .site-tools {
	margin-top: 30px;
}

.topic-info .site-tools img {
	width: 30px;
}

.latest {
	display: inline-block;
	padding: 5px 10px 5px 10px;
	margin-bottom: 10px;
}

.content-jump {
	font-size: 4em;
	position: absolute;
	bottom: 25px;
	text-align: center;
	width: 100%;
}

.content-jump img {
	width: 60px;
	height: 60px;
}

.article-nav {
	width: 100%;
	top: 50%;
	position: absolute;
	left: 0;
	z-index: 1000;
	white-space: nowrap;
	overflow-x: hidden;
}

.prev-article {
	float: left;
	width: 60px;
	height: 60px;
	transform: rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 */
	-webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */
}

.next-article {
	float: right;
	width: 60px;
	height: 60px;
	transform: rotate(270deg);
	-ms-transform:rotate(270deg); /* IE 9 */
	-webkit-transform:rotate(270deg); /* Opera, Chrome, and Safari */
}

.prev-article img, .next-article img {
	width: 60px;
}

/*CONTENT CONTAINER*/
.content-container {
   	background-color: #fff;
	width: 90%;
	margin: 0px auto;
	padding: 60px 0 0 0;
	clear: both;
	position: static !important;
}

/*POST*/
.post-container {
	width: 90%;
	max-width: 1400px;
	margin: 0 auto;
	overflow-x: hidden;
	display: table;
}

.closing-paragraph {
	text-align: center;
	font-size: 1.4em;
}

.article-tags {
	text-align: center;
	font-size: 1em;
	margin-bottom: 30px;
}

.post-one, .post-two {
	overflow-x: hidden;
	display: table-cell;
	vertical-align: top;
}

.author-container {
	width: 100%;
	min-height: 140px;
	margin: 0 0 30px 0;
}

.author-info {
	text-align: center;
	display: table-cell;
	vertical-align: top;
	width: 100px;
}

.author-info img {
	width: 100px;
}

.author-name {
	font-weight: 900;
}

.author-content {
	display: table-cell;
	vertical-align: top;
	padding: 0 30px 0 30px;
}

/*IMAGES*/
.image {
	margin: 0 auto 30px auto;
	padding-bottom: 10px;
	width: 100%;
	color: #fff;
	font-weight: 900;
	font-size: 1.0em;
}

.image p {
	width: auto;
	margin: 0 20px 0 20px;
	font-family: 'Montserrat', sans-serif;
	text-align: center !important;		
}

.image img {
	width: 100%;
}

/*PULL QUOTE*/
.pull-quote {
	display: block;
	width: 50%;
	margin: 0 30px 30px 0;
	float: left;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6em;
	line-height: 2em;
	text-align: left !important;
	text-transform: uppercase;
}

/*COMMENTS*/
.comments-header {
	color: #fff;
	text-align: center;
	display: block;
	width: 90%;
	max-width: 1400px;
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
	font-size: 2em !important;
}

.comments {
	background-color: #fff;
	padding: 5% 0 0 0;
	margin: 0 auto;
	width: 90%;
	max-width: 1400px;
}

#disqus_thread {
	width: 90%;
	max-width: 1400px;
	margin: 0 auto;
}

/*FOOTER*/
#footer {
	text-align: center;
	margin: 0 auto 0 auto;
	padding: 30px 0 30px 0;
	color: #fff;
    width: 100%;
    background-color: #262626;
}

#footer p {
	margin-bottom: 15px;
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;
}

#footer p a {
	color: #fff;
}

#footer img {
	padding: 0 20px 0 20px;
	width: 100px;
}

/*ARTICLE SPECIFIC STYLES*/

/*BASIC PAGE*/
.basic-page .article-header-container, .basic-page .article-header {
	height: 440px !important;
	background-position: center;
}

.basic-page .topic-info {
	padding-top: 140px !important;
}

.basic-page-container {
	width: 70%;
	margin: 0 auto;
	overflow-x: hidden;
}

/*ADMIN SECTION*/
.admin .content-container {
	overflow: hidden;
}

.admin .article-header-container {
	max-height: 400px;
	background-position: center;
}

.admin .post-container {
	transition: all 0.2s ease-in-out;
	left: 0;
	position: relative;
}

.post-container.hide-left {
	left: -100%;
}

.post-container.hide-right {
	transition: none;
	left: 100%;
}

.admin .admin-tools-column {
	width: 495px;
	float: left;
	margin-bottom: 20px;
}

.admin-nav {
	list-style-type: none;
	padding: 0;
	margin: 20px 0 0 0;
}

.admin-nav li {
	display: block;
	width: 400px;
	padding: 10px;
	min-height: 40px;
	line-height: 40px;
	margin: 0 0 10px 0;
	border: 1px solid #dedede;
}

.admin-nav li img {
	height: 40px;
	float: left;
	margin: 0 10px 0 0;
}

.post-left {
	float: left;
}

.post-right {
	float: right;
}

.select2-container {
	width: 100%;
}

/*DUAL AUTHOR, COLUMN*/
.dual-article .post-one {
	padding: 0 4% 0 0;
	width: 50%;
}

.dual-article .post-two {
	padding: 0 0 0 4%;
	width: 50%;
}

.dual-article .post-one p, .post-two p {
	text-align: justify;
}

.dual-article .post-one .author-content {
	padding-right: 0;
}

.dual-article .post-two .author-content {
	padding-left: 0;
}

/*SINGLE AUTHOR, FEATURE*/
.feature-article .author-container {
	width: 50%;
	float: left;
	margin-right: 30px;
}

.feature-article .post-container p {
	text-align: justify;
}

.feature-article .image-left {
	float: left;
	width: 50%;
	margin: 0 30px 30px 0;
}

.feature-article .image-right {
	float: right;
	width: 50%;
	margin: 0 0 30px 30px;
}

/*ARCHIVE PAGE*/
.archive .article-header-container {
	max-height: 440px;
}

.archive .section-info {
	width: 260px;
	padding: 20px 20px 0 20px;
	color: #fff;
	display: table-cell;
	vertical-align: middle;
}

.archive .section-info h2 {
	margin-bottom: 20px;
	color: #fff;
}

.archive .topic-info {
	text-align: left;
	padding: 100px 0 0 25px;
}

.archive .topic-info h1 {
	font-size: 3em;
}

.archive .topic-info h2 {
	font-size: 1.4em;
}

.archive .archive-container {
	width: 90%;
	margin: 0 auto;
}

.archive .recent-archive-container {
	overflow-x: hidden;
	margin: 0 0 20px 20px;
}

.archive .archive-table {
	border-collapse: collapse;
	width: 990px;
	text-align: center;
	margin-top: 20px;
}

.archive .archive-table td {
	width: 320px;
	padding: 0 0 28px 0;
}

.archive .archive-table-poster {
	float: left;
	background-position: center center;
	background-size: cover;
	width: 160px;
	height: 160px;
	text-align: center;
	display: table-cell;
	margin: 0 20px 20px 0;
}

.archive .archive-table-poster a {
	display: table-cell;
	vertical-align: middle;
	width: 160px;
	height: 160px;
	background-color: rgba(0,0,0,.4);
	color: #fff !important;
	font-size: 1.6em;
	font-family: 'Montserrat', sans-serif;
}

.archive .archive-list {
	width: 280px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 60px;
}


/*HOME PAGE*/
.home .article-header-container {
	max-height: 640px;
	background-position: left center !important;
}

.index-container {
	width: 90%;
	max-width: 1400px;
	margin: 0px auto;
	overflow-x: hidden;
	display: table;
}

.left-column {
	display: table-cell;
	overflow-x: hidden;
	width: 70%;
	margin: 0 auto;
	padding: 0 40px 0 0;
	background-color: #fff;
}

.news-article {
	padding: 30px 0 0 0;
	overflow-x: hidden;
	width: 100%;
	font-size: .9em;
	border-bottom: 1px solid #dedede;
}

.news-article-image {
	width: 200px;
	height: 200px;
	background-size: cover;
	background-position: center center;
	margin: 0 25px 25px 25px;
	float: left;
	display: block;
}

.news-article-content {
	display: table-cell;
	vertical-align: top;
}

.news-article h2 {
	margin: 0 0 8px 0;	
}

.news-label {
	position: absolute;
	float: left;
	margin: 20px 0 0 0;
}

.label-text {
	color: #fff;
	padding: 10%;
	background-color: #333;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900 !important;
	line-height: 1.2em;
	white-space: nowrap;
	display: block;
	width: 100%;
	height: 16px;
}

.games .news-label:after {
	background-image: url('../Images/label-game-news.svg');
	content: " ";
	height: 30px;
	width: 25px;
	display: block;
}

.films .news-label:after {
	background-image: url('../Images/label-film-news.svg');
	content: " ";
	height: 30px;
	width: 25px;
	display: block;
}

.article-alert {
	width: 100%;
	font-size: 1.6em;
	height: 60px;
	line-height: 60px;
	color: #fff;
	display: block;
	margin: 25px 0 25px 0;
	font-family: 'Montserrat', sans-serif;
}

.article-alert:after {
	content: " ";
	height: 25px;
	display: block;
	border-bottom: 1px solid #dedede;
}

.article-alert img {
	width: 40px;
	margin: 10px 20px 0 20px;
	float: left;
}

.alert-date {
	float: right;
	margin: 0 25px 0 0;
	font-size: .5em;
}

.right-column {
	padding: 30px;
	width: 30%;
	display: table-cell;
	vertical-align: top;
	font-size: .85em;
	background: #f7f7f7;
}

.right-column a {
	color: #e13c36;	
}	

.right-column .search {
	text-align: center;
}

.right-column .search p {
	display: inline-block;
}

.right-column .search img {
	width: 30px;
	margin: 10px 20px 0 0;
}

.right-column .search input {
	display: inline-block;
	font-size: 1.2em;
	font-family: 'Roboto Slab', serif;
	padding: 10px;
	border: 1px solid #dedede;
}	

.promo-reel-section {
	float: left;
	height: 200px;
	width: 100%;
	opacity: 0.7;
	transition: width 0.2s ease, opacity 0.4s ease;
}

.promo-reel-section:hover {
	opacity: 1;
}

.promo-reel-image {
	width: 100%;
	height: 200px;
	overflow-y: hidden;
	overflow-x: hidden;
	float: left;
	background-size: cover;
	background-position: top center;
	position: relative;
	opacity: .9;
}

.promo-reel-image img {
	width: 100%;
}

.promo-reel-item {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 4%;
}

.promo-reel-item:hover {
	opacity: 1;
}

.promo-reel-item h1 {
	color: #ffffff !important;
	font-size: 1.2em;
	margin-bottom: 2%;
	letter-spacing: normal;
}

.promo-reel-item h1 a {
	color: #ffffff;
}

.promo-reel-item h2 {
	font-size: 1.1em;
	margin: 0;
	color: #fff;
}

.promo-reel-item h3 {
	margin:  0 10% 0 8%;	
}

/*NEWS ARTICLE*/
.news .main-menu-container {
	height: 140px;
}

.news .main-menu-nav li ul {
	opacity: 1;
	height: 40px;
}

.news .content-container {
	margin-top: 140px;
}

.news .post-container {
	margin: 0 auto;
}

.news .author-container {
	width: 100px;
	float: right;
	margin: 0 0 30px 30px;
	text-align: center;
	font-size: 0.8em;
}

.news .author-container img {
	width: 100px;
}

.news .news-article-leader-image {
	float: left;
	width: 400px;
	margin: 0 30px 30px 25px;
}

.news .news-article-leader-image img {
	width: 400px;
}

.news h1 {
	font-size: 2.8em;
}

.news h2 {
	font-size: 1.6em;
	margin-bottom: 20px;
}

.news .article-tags {
	text-align: left;
}

/*TAG PAGE*/
.tagged .main-menu-nav li ul {
	opacity: 1;
	height: 40px;
}

.tagged .content-container {
	margin-top: 80px;
}

.tagged .post-container {
	margin: 0 auto;
	border-top: 40px solid #ffffff;
	border-bottom: 40px solid #ffffff;
}

.tagged-article {
	padding: 30px 0 0 0;
	overflow-x: hidden;
	width: 100%;
	font-size: .9em;
	border-bottom: 1px solid #dedede;
}

.tagged-article-image {
	width: 100px;
	height: 100px;
	background-size: cover;
	background-position: center center;
	margin: 0 25px 25px 0px;
	float: left;
	display: block;
}

.tagged-article-content {
	display: table-cell;
}

.tagged h1 {
	font-size: 2.4em;
}

.tagged h2 {
	font-size: 1.8em;
	margin: 0 0 0 0;	
}

.tagged h3 {
	margin: 0 0 0 0;
}


/*SECTION COLOURS*/

/*GAMES*/
.games a, .games .pull-quote {
	color: #e13c36;
}

.games .index-article-header-master-container, .article-header-master-container, .games h2.shine-assign-header, .games h2.comments-header, .games .image, .games .discuss-image, .games .archive-current, .games .section-info, .games .promo-reel-item, .games .label-text, .games.article-alert, .games .latest  {
	background-color: #e13c36;
}

/*FILMS*/
.films a, .films .pull-quote {
	color: #15948b;
}

.films .article-header-master-container, .films h2.shine-assign-header, .films h2.comments-header, .films .image, .films .image-left, .films .image-right, .films .discuss-image, .films .archive-current, .films .section-info, .films .promo-reel-item, .films .label-text, .films.article-alert, .films .latest  {
	background-color: #15948b;
}

/*MEDIA QUERIES*/
@media screen and (max-width:1360px){
	.content-container {
		width: 100%;
	}
	
	.right-column .site-tools li {
		margin: 0 15px 0 15px;
	}
}

@media screen and (max-width:1100px){
	html {
		min-width: 100%;
	}
	
	body {
		min-width: 100%;
	}
	
	.home .article-header-container {
		height: 65%;
	}
	
	.content-container {
		padding: 0;
	}
	
	.index-container {
		width: calc(100% - 40px);
		padding: 20px;
	}
	
	.left-column {
		width: 45%;
	}
	
	.right-column {
		width: 25%;
	}
	
	.post-container {
		padding-top: 60px;
	}
}

@media screen and (max-width:768px){
	h1 {
		margin: 0;
	}
	
	.main-menu-nav li ul {
		display: none;
		float: left;
		width: 75%;
		height: 100%;
		background-color: #000;
	}
	
	.main-menu-nav li ul li {
		display: block;
	}
	
	.main-menu-logo a {
		width: auto;
	}
	
	.main-menu-logo:hover > ul {
		height: inherit;
	}
	
	.article-header-container {
		margin-top: 0;
		height: 60% !important;
	}
	
	.topic-info, .basic-page .topic-info {
		padding: 20% 0 0 0 !important;
		font-size: .8em;
		white-space: normal;
	}
	
	.topic-info h2 {
		margin: 10px 10px 0 10px;
	}
	
	.topic-info h3 {
		margin: 20px 10px 0 10px;
	}
	
	.left-column {
		padding: 0;
		width: 100%;
	}

	.news-article {
		padding: 20px 0 0 0;
	}
	
	.news-article-image {
		width: 100px;
		height: 100px;
		margin: 0 15px 15px 0px;
	}
	
	.news-label {
		margin: 0;
	}
	
	.label-text {
		width: 80px;
		height: 10px;
		padding: 10px;
		line-height: 10px;
	}
	
	.games .news-label:after {
		display: none;
	}
	
	.films .news-label:after {
		display: none;
	}
	
	.alert-date {
		display: none;	
	}
	
	.right-column {
		display: none;
	}
	
	.article-nav, .content-jump {
		display: none;
	}
	
	.topic-info .site-tools {
		display: none;
	}
	
	.basic-page .article-header-container, .basic-page .article-header {
		height: 60% !important;
	}
	
	.author-container {
		min-height: inherit !important;
		width: 100% !important;
		float: none !important;
		margin-right: 0 !important;
	}
	
	.author-info img {
		width: 100px;
	}
	
	.feature-article .author-container {
		padding-top: 20px; 
	}
	
	.feature-article .image-left, .feature-article .image-right {
		float: none;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	
	.post-one, .post-two {
		width: 100% !important;
		display: block !important;
		padding: 0 !important;
	}
	
	.post-one {
		border-bottom: 1px solid #dedede;
	}
	
	.post-two {
		border-top: 20px solid #fff;;
	}
	
	#footer p {
		margin-left: 20px;
		margin-right: 20px;
	}
}

@media screen and (max-width:614px){
	html {
		font-size: .6em;
	}
	
	h1, h2, h3, h4, h5 {
		margin-left: 20px;
		margin-right: 20px;
	}
	
	p {
		font-size: 1.2em;
	}
	
	.post-one {
		margin-top: 0;
	}
	
	.post-container {
		padding-top: 20px;
	}
	
	.author-container {
		padding-top: 0 !important;
	}
}