/*POST*/
.post-container {
	width: 70%;
}

.author-container {
	width: 50%;
	float: left;
	margin: 0 5% 5% 0;
}

.author-info {
	float: left;
	margin-right: 5%;
}

.post-container p {
	text-align: justify;
}

.image-left {
	float: left;
	width: 50%;
	margin: 0 30px 30px 0;
}

.image-right {
	float: right;
	width: 50%;
	margin: 0 0 30px 30px;
}
