.article-header-container {
	max-height: 640px;
}

.section-info {
	width: 260px;
	margin-top: 50px;
	padding: 20px 20px 0 20px;
	color: #fff;
	float: right;
}

.section-info h2 {
	margin-bottom: 20px;
	color: #fff;
}

.archive-container {
	width: 90%;
	margin: 60px auto;
}

.recent-archive-container {
	clear: both;
	overflow-x: hidden;
	margin: 20px auto 20px auto;
}

.archive-table {
	border-collapse: collapse;
	width: 990px;
	text-align: center;
	margin-top: 20px;
}

.archive-table td {
	width: 320px;
	padding: 0 0 28px 0;
}

.archive-table-poster {
	float: left;
	background-position: center center;
	background-size: cover;
	width: 160px;
	height: 200px;
	text-align: center;
	display: table;
	margin-right: 20px;
}

.archive-table-poster a {
	display: table-cell;
	vertical-align: middle;
	width: 160px;
	height: 200px;
	background-color: rgba(0,0,0,.4);
	color: #fff !important;
	font-size: 1.6em;
	font-family: 'Montserrat', sans-serif;
}

.archive-list {
	width: 280px;
	display: inline-block;
	vertical-align: top;
}